.wd-status-text * {
    color: #d41b2c;
    font-size: 2em;
    margin-bottom: 2px;
    font-size: 1em;
    list-style: none;
}
.wd-status-header * {
  color: #d41b2c;
}

.wd-status-text li {
  color: black;

}

.wd-status-text i {
  color: gray;

}

.course-header {
  display: flex;
  align-items: center;
  color: #d41b2c;
}