button {
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    float: right;
}

.red-button {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.green-button {
    background-color: green;
    color: white;
}

.answer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lazy-button-fix {
    float: left;
}